<div id="Homepage">
    <div class="welcome">
        <div class="message">
            <h1>Sweet Title Limited</h1>
            <span>We are goood at business</span>
            <br>
            <div>
                <button class="btn btn-default">NewsLetter</button>
                <button class="btn btn-default"> Download</button>
            </div>
        </div>
        <div>
            <object data="http://www.youtube.com/embed/ayDCog0Bo-I"></object>
        </div>
    </div>
    <div class="info">
        <div class="panel">
            <div class="panel-heading"> <span class="glyphicon glyphicon-envelope"></div>
            <div class="panel-body">Panel Content</div>
        </div>
        <div class="panel">
            <div class="panel-heading"> <span class="glyphicon glyphicon-flag"></div>
            <div class="panel-body">Panel Content</div>
        </div>
        <div class="panel">
            <div class="panel-heading"> <span class="glyphicon glyphicon-signal"></div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>